SUBSYSTEM=="video4linux", SUBSYSTEMS=="usb", ATTRS{idVendor}=="534d", ATTRS{idProduct}=="2109", PROGRAM="/home/morg/bin/set_capture_card_defaults.sh"
